.cdx-nest-1, .cdx-nest-2, .cdx-nest-3, .cdx-nest-4, .cdx-nest-5, .cdx-nest-6{
	margin: 1rem 2rem;
}

.ce-tune-alignment--right {
	text-align: right;
}
.ce-tune-alignment--center {
	text-align: center;
}
.ce-tune-alignment--left {
	text-align: left;
}
