.cdx-nest-1{
	margin-left: 10rem;
}
.cdx-nest-2{
	margin-left: 20rem;
}
.cdx-nest-3{
	margin-left: 30rem;
}
.cdx-nest-4{
	margin-left: 40rem;
}
.cdx-nest-5{
	margin-left: 50rem;
}
.cdx-nest-6{
	margin-left: 60rem;
}
